
<div class="container text-center pt-9">
  <div class="display-1 text-muted mb-5"><%= t("errors.doccloud.title") %></div>
  <h1 class="h2 mb-3"><%= t("errors.doccloud.message") %></h1>
  <p class="h4 text-muted font-weight-normal mb-7"><%= t("errors.doccloud.help", doc_link: "http://docs.bigbluebutton.org/greenlight/gl-install.html#setting-bigbluebutton-credentials").html_safe %></p>
</div>
